*{
	margin: 0;
	padding: 0;
}
html, body {
    font-family: roboto,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background-color: #f0f0f0;
    color: #333;
    -webkit-font-smoothing: antialiased;
}
.container {
	width: 500px;
    background-color: #f8f8f8;
    width: 800px;
    margin: 24px auto;
    border-radius: 2px;
}
.output{
	border-top: 4px solid #f0f0f0;
	padding: 10px 0;
}
.crop-image {
	display: flex;
	align-items: stretch;
}

.img-container {
	width: 300px;
	height: 250px;
}

.img-container>img {
	width: 200px;
	height: 250px;
}

#drop_area {
	width: 0px;
	flex-grow: 1;
	border: 3px dashed silver;
	text-align: center;
	font-size: 20px;
	display: flex;
	color: #d3d3d3;
	position: relative;
	align-items: center;
    justify-content: center;
}

.color-board {
	display: flex;
	width: 50px;
	flex-direction: column;
}

.color-block {
	flex: 1;
}

.btn {
	background-color: white;
	border: 2px solid #e7e7e7;
	color: black;
	border-radius: 2px;
	padding: 10px 17px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 0 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
}

.btn:hover {
	background-color: #e7e7e7;
}

.upload {
	opacity: 0;
	filter: alpha(opacity=0);
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.upload:hover{
	cursor: pointer;
}