<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.7.2/cropper.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.3/material.min.css">
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>

	<body>
		<div id="app" class="container">
			<div class="crop-image">
				<div id="drop_area"><input class="upload" type="file"><span>	将图片拖拽到此区域</span></div>
				<div class="img-container">
					<img alt="" id="image">
				</div>
			</div>
			<div class="color-board">
			</div>
			<div style="margin: 10px 0">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" v-model="title" type="text" id="title" value="帮你大幅度节省时间的">
					<label class="mdl-textfield__label" for="title">title</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" v-model="subTitle" type="text" id="subTitle" value="四个设计利器">
					<label class="mdl-textfield__label" for="subTitle">subTitle</label>
				</div>
				<div>
					<button @click="draw" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">draw</button>
					<a href="#" @click="download" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">download</a>
				</div>
			</div>
			<canvas id="mycanvas" width="500" height="166"></canvas>
		</div>
		<script src="//cdn.bootcss.com/vibrant.js/1.0.0/Vibrant.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.3/material.min.js"></script>
		<script src="https://npmcdn.com/vue@1.0.26/dist/vue.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.7.2/cropper.min.js"></script>
		<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>